.single {
	margin: 0;
	.wrapper {
		height: 100%;
		/*.bg-box {
			width: 40%;
			height: 100vh;
			min-height: 100%;
			position: absolute;
			right: 0;
			top: 0;
			background-color: transparentize(#000,0.8);
			z-index: 1;
		}*/
	}
	article {
		width: 100%;
		height: 75vh;
		position: relative;
	}
	.post-bottom {
		width: 100%;
		height: 80%;
		position: relative;
		.holder {

			.slideshow {
				width: 800px;
				height: 400px;
				.gallery {
				width: 800px;
				height: 400px;
					> a {
						width: 800px;
						height: 400px;
						display: block;
						img {
							width: 300px;
							height: 700px;
							max-width: none;
							border: 10px solid transparentize(#fff, 0.3);
						}
					}
				}
			}
		}
	}
	.post-top {
		margin-bottom: 40px;
		position: relative;
		background: $light-bg-color;
		h2 {
			margin: auto;
			font-size: 20px;
			letter-spacing: 0.1em;
			z-index: 999;
			text-align: center;
			span {
				color: $main-color;
				z-index: 999;
			}	
		}
		.post-link-main {
			padding: 15px;
			border-top: 1px solid $main-color;
			line-height: 2.6;
		}
		img {
			width: 10px;
			height: auto;
		}
	}
	.post-link-left, .post-link-right {
		padding: 0;
		z-index: 300;
		display: inline-block;
		line-height: 1;
		a {
			font-size: 14px;
			vertical-align: baseline;
			position: relative;
			text-align: center;
			top: -2px;
		}
	}
	.post-link-left a {
		right: 2px;
	}
	.post-link-right a {
		left: 2px;
	}
	.side-bar {
		padding: 0 10px;
		position: absolute;
		top: 0;
		left: -120px;
		z-index: 20;
		.side-holder {
			.etsy {
				padding: 10px;
				background: transparentize(#fff,0.5);
				a {
					display: block;
					font-size: 12px;
					color: #ffffff;
					text-transform: uppercase;
					letter-spacing: 0.2em;
					font-family: $sans-regular;
					&:hover span {
						background: $accent-color;
					}
				}
				span {
					margin: 10px 0;
					padding: 5px 10px;
					display: block;
					background: #000000;
				}
				img {
					height: 25px;
					border: 0;
				}
			}
			.social {
				span {
					width: 100%;
					height: 50px;
					padding: 10px;
					margin: 10px 0;
					padding: 10px;
					display: block;
					background-position: center center;
					background-color: transparentize(#fff,0.5);
					background-repeat: no-repeat;
					&:last-child {
						margin-bottom: 0;
					}
					&:hover {
						cursor: pointer;
					}
				}
				.face {
					 background-image: url('../img/icon_social-face.png');
					 &:hover {
						 background-image: url('../img/icon_social-face-ac.png');
					 } 
				}
				.twit {
					background-image: url('../img/icon_social-twit.png'); 
					&:hover {
						background-image: url('../img/icon_social-twit-ac.png');
					} 
				}
				.pint {
					background-image: url('../img/icon_social-pint.png');
				 &:hover {
					 background-image: url('../img/icon_social-pint-ac.png');
				 } 
				}
			}
		}
	}
}