@font-face {
    font-family: 'neutron-extralight';
    src: url('fonts/neuton-extralight.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'neutron-extralight';
    src: url('fonts/neuton-extralight.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'neutron-light';
    src: url('fonts/neuton-light.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'neutron-regular';
    src: url('fonts/neuton-regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'neutron-bold';
    src: url('fonts/neuton-bold.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'neutron-extrabold';
    src: url('fonts/neuton-extrabold.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'neutron-italic';
    src: url('fonts/neuton-italic.ttf');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'lato-light';
    src: url('fonts/Lato-Light.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'lato-regular';
    src: url('fonts/Lato-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'lato-bold';
    src: url('fonts/Lato-Bold.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'lato-italic';
    src: url('fonts/Lato-LightItalic.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'lato-bold-italic';
    src: url('fonts/Lato-BoldItalic.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'old-standard-regular';
    src: url('fonts/OldStandard-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'old-standard-bold';
    src: url('fonts/OldStandard-Bold.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'geared';
    src: url('fonts/GearedSlab.ttf');
    font-weight: normal;
    font-style: normal;
}